* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;

}


span {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
    z-index: 2;
    opacity: 0;
}

span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

span:nth-child(2) {
    top: 50px;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

span:nth-child(3) {
    top: 100px;
    right: 0;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

span:nth-child(4) {
    top: 150px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

span:nth-child(5) {
    top: 200px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

span:nth-child(6) {
    top: 250px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

span:nth-child(7) {
    top: 300px;
    right: 800px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

span:nth-child(8) {
    top: 350px;
    right: 1000px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

span:nth-child(9) {
    top: 400px;
    right: 1200px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 2.25s;
}

span:nth-child(10) {
    top: 450px;
    right: 450px;
    left: initial;
    animation-delay: 1.8s;
    animation-duration: 2.75s;
}

.moon {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.moon::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
}

.forest {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scale(1.2);
}


.katakata {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    text-align: center; 
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 75px;
    margin: 0; 
}


@media (max-width: 480px) {
    html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    }
    .section {
        top: 50%;
    }
    .moon {
        left: 50px;
    }
    .forest {
        transform: scale(2);
        overflow: hidden;
    }

    .katakata {
        overflow: hidden;
    }
    h1 {
        font-size: 37px;
    }
    h3{
        font-size: 13px;
    }
}
